<footer class="footer">
  <div class="footer__container list__text ">
    <ul class="list__menu list">
      <li>ARTICLES</li>
      <li>BOOKS</li>
      <li>EVENTS</li>
      <li>REASONS</li>
      <li>TIPS</li>
    </ul>

    <ul class="list__media list">
      <li>TWITTER</li>
      <li>INSTAGRAM</li>
      <li>MASTODON.SOCIAL</li>
    </ul>
    <div class="copyright">
        <div class="year">&copy;2017</div>

        <div class="components">
          <p> we <span class="heart">&#9829</span> components
          </p>
        </div>
      </div>


  </div>


</footer>
