<footer class="footer">
  <div class="footer__container list__text ">
    <ul class="list__menu list">
      <li class="li">ARTICLES</li>
      <li class="li">BOOKS</li>
      <li class="li">EVENTS</li>
      <li class="li">REASONS</li>
      <li class="li">TIPS</li>
    </ul>

    <ul class="list__media list">
      <li class="li">TWITTER</li>
      <li class="li">INSTAGRAM</li>
      <li class="li">MASTODON.SOCIAL</li>
    </ul>
    <div class="copyright">
        <div class="year">&copy;2017</div>

        <div class="components">
          <p> we <span class="heart">&#9829</span> components
          </p>
        </div>
      </div>


  </div>


</footer>
