<header class="header">
  <div class="hero">
    <div class="hero__inner">
      <h1 class="title1">
        ANONYMOUS <br />
        PROXY
      </h1>

      <p class="title2">In hac habitasse platea dictumst.</p>

      <div class="button">
        <div class="button__container">
          <a href="#section">
            <img
              class="button_nav"
              src="/assets/images/ico-scroll-down.svg"
              alt="boton bajar"
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="menu">
    <div class="menu__container">
      <a href="#">
        <img
          class="menu_index"
          src="/assets/images/ico-menu.svg"
          alt="boton inicio"
        />
      </a>
    </div>
  </div>
</header>
