<div class="section__border">
  <div class="section" id="section">
    <div class="section__container">
      <p class="section__small">
        Insomnia Tips
      </p>
      <h2 class="section__big">
        Looking Through A Window
      </h2>
      <h3 class="section__medium">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </h3>
    </div>
  </div>
  <div class="go">
    <a class="go__button" href="#">Go</a>
  </div>
</div>
