<h3 class="section2__title-big">3 Reasons To Purchase</h3>

<section class="section2">
  <!-- <h3 class="section2__title-big">3 Reasons To Purchase</h3> -->

  <div class="section2__container">
    <div class="section2__container-text">
      <h4 class="section2__subtitle">Ut sed metus</h4>

      <p class="section2__text">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
  </div>
  <div class="section2__container">
    <div class="section2__container-text">
      <h4 class="section2__subtitle">Curabitur ac erat</h4>

      <p class="section2__text">Mauris mattis urna quis lorem molestie.</p>
    </div>
  </div>
  <div class="section2__container">
    <div class="section2__container-text">
      <h4 class="section2__subtitle">Morbi dictum</h4>

      <p class="section2__text">Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </div>
</section>
<div class="section2__buttons">
  <div class="reasons">
    <a class="reasons__button" href="/">More Reasons</a>
  </div>

  <div class="arrow">
    <a class="arrow__button" href="#">
      <img src="assets/images/ico-arrow.svg" alt="flecha a inicio" />
    </a>
  </div>
</div>
