<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page">
      <!-- Importar el partial del header con el hero -->
      <partial src="_header.html"></partial>
      <!-- Importar la primera sección -->
      <partial src="_section.html"></partial>
      <!-- Importar la segunda sección -->
      <partial src="_section2.html"></partial>
      <!-- Importar el footer -->
      <partial src="_footer.html"></partial>
    </div>
  </body>
</html>
