.footer {
  background: $color-dark-back;
  color: $color-white;
  text-align: center;
  padding: 60px 0;
  margin-top: -20px;
  list-style: none;
}
.list__media {
  padding: 30px;
  list-style: none;
}

.heart {
  color: $color-primary;
}
