.header {
  background-image: url(../images/cover.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

.hero__inner {
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  flex-direction: column;
  align-content: center;
  color: $color-white;
}
.title1 {
  font-family: $font-family-first;
  font-size: 42px;
  @media all and (min-width: 768px) {
    font-size: 80px;
    line-height: 100px;
  }
  @media all and (min-width: 1024px) {
    font-size: 100px;
    line-height: 100px;
  }
}
.title2 {
  font-size: 16px;
  font-family: $font-family;
  @media all and (min-width: 768px) {
    font-size: 24px;
    line-height: 100px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  width: 45px;
  height: 45px;
  background-color: $color-white;
  border-radius: 22.5px;
  margin-top: 60px;
}

.button__nav {
  width: 20px;
  height: 11.7px;
}

.menu {
  width: 44px;
  height: 44px;
  background-color: $color-secondary;
  position: fixed;
  top: 0;
}
.menu_index {
  margin: 14px;
}
